body {
    background-image: url("../images/Weather.jpg");
}

h1 {
    padding-top: 12rem;
    text-align: center;
    font-family: 'Water Brush', cursive;
    font-size: 10rem;
}

form{
    text-align: center;
}

input {
    width: 20%;
    height: 2.5rem;
}

button {
    width: 4rem;
    margin-bottom: 0.3rem;
}